/* 
* * start genral reset  
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}



/* 
* * genral styling  
*/

:root{
    --darkblugray: #4a657d;
    --lightblue: #1f87e4;
    --blueback: #0e151b;
    font-size: 16px;
}

body{
    font-family: 'Open Sans', sans-serif;
}



/* 
* * ⭐⭐ start Header ⭐⭐
*/


header{
    background-color: #4a657d;
    color:white;
    line-height: 2.2em;
    font-size: 0.8rem;
}
header .top-bar,
header .main-nav{
    padding: 0 15%;
}

/* ⭐ Top bar ⭐ */

header .top-bar {
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* Top bar - left info */

header .top-bar .left-info{
    display:flex;
}

header .left-info .icon{
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.6em;
}


header .left-info li:last-child::before{
    content:'|';
    margin-left: 0.9em;
    color:rgb(175, 175, 175);
}




/* Top bar - right info */

header .top-bar .right-info{
    display:flex;
}

.right-info .social ul{
    display:flex;
    
}
.right-info  ul li{
    margin: 0.1em;
    
}
.right-info  .social a{
    padding: 0.5em;
    color:white;
    
}
.right-info  .support::before{
    content: '|';
    display:inline-block;
    margin-left: 0.4em;
    color:rgb(175, 175, 175);
    
}

.right-info .support .icon{
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.6em;
}
.right-info .support a,
.right-info .contact a{
    color:white;
    padding: 1em;;
}
.right-info .contact a{
    text-transform: uppercase;
}


/* ⭐ Main Nav ⭐ */
header .main-nav{
    display:flex;
    justify-content: space-between;
    padding: 1em 15%;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 13px -6px rgba(0,0,0,0.67);
    
}

.main-nav nav ul {
    display:flex;
}

.main-nav ul a{
    color: var(--darkblugray);
    text-transform: uppercase;
    padding: 1em;
    font-weight: 700;

}




/* 
* * 🚨🚨 End Header 🚨🚨
*/





/* 
* * ⭐⭐ start About Us ⭐⭐
*/


.about{
    margin-top: 10em;;
    display: flex;
    justify-content: space-between;
}

.about .left-content{
    margin: 8em 4.5em 0; 

}

.about h2{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0.5em;
}

.about p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 2em;
    line-height: 1.6rem;
}

.lighter{
    color:var(--lightblue)
}




/* 
* * ⭐⭐ start consulting services ⭐⭐
*/

.consulting-services{
    text-align: center;
    margin: 4.5em 0;
}
.consulting-services > h2{
    text-transform: uppercase;
    color:var(--darkblugray);
    margin-bottom: 0.5em;
}
.consulting-services > p{
    color:var(--darkblugray);
    width: 50%;
    margin: 0 auto;
    font-size: 0.8rem;
    margin-bottom: 2em;
}

.services-container{
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.services-container .service-item{
    background-color: #edeff2;
    padding: 4em 1em;
}
.services-container .service-item:hover{
    background-color: var(--lightblue);
    transform: scale(1.1);
    box-shadow: 0px 3px 13px -6px rgba(0,0,0,0.67);
    transition: all 350ms ease-in-out;
}

.services-container .service-item:hover .btn{
    background-color: white;
    color:var(--darkblugray);
    transition: all 250ms ease-in-out;
}
.services-container .service-item:hover :not(.btn){
    color:white;
}

.services-container .service-item:nth-child(1) .logo{
    width: 44px;
    height: 40px;
    background: url('../assets/icon-1.png') no-repeat;
    margin: 0 auto;
    transition: all 250ms ease-in-out;
}
.services-container .service-item:nth-child(1):hover .logo{
    background: url('../assets/icon-1-hover.png') no-repeat;
}


.services-container .service-item:nth-child(2) .logo{
    width: 67px;
    height: 61px;
    background: url('../assets/icon-2.png') no-repeat;
    margin: 0 auto;
    transition: all 250ms ease-in-out;
}
.services-container .service-item:nth-child(2):hover .logo{
    background: url('../assets/icon-2-hover.png') no-repeat;
}

.services-container .service-item:nth-child(3) .logo{
    width: 44px;
    height: 40px;
    background: url('../assets/icon-3.png') no-repeat;
    margin: 0 auto;
    transition: all 250ms ease-in-out;
}
.services-container .service-item:nth-child(3):hover .logo{
    background: url('../assets/icon-3-hover.png') no-repeat;
}

.services-container .service-item h3{
    /* font-size: 0.8em; */
    text-transform: uppercase;
    margin: 0.8em 0;
    
}
.services-container .service-item p{
    font-size: 0.8em;
    margin-bottom: 2em;
    line-height: 1.4rem;
    
}

/* 
* * ⭐⭐ start Practice Area ⭐⭐
*/
.practice-area{
    text-align: center;
}
.practice-area > h2{
    color:var(--darkblugray);
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.practice-area > p{
    width: 40%;
    margin: 0 auto;
    font-size: 0.8em;
    margin-bottom: 2.5em;
}
.practice-container{
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.practice-container .item{
    margin: .5em;
    text-align: left;
}

.practice-container .item h4{
    text-transform: uppercase;
    color:var(--lightblue);
    font-size: 0.8em;
    margin: 0.5em 0;
}
.practice-container .item p{
    color:rgb(70, 70, 70);
    font-size: 0.8rem;
}


